* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 1024px;
  margin: 230px auto;
  padding: 90px 60px;
  background-color: #ffffff;
}

.title {
  display: inline-block;
  width: 640px;
  margin-right: 20px;
}

h1 {
  margin-bottom: 50px;
  font-family: "Pathway Gothic One";
  color: #263555;
  font-size: 32px;
}

.img {
  margin: 0 25px 20px 0;
  float: left;
  height: 280px;
  width: 360px;
  clear: left;
}

.paragraph {
  margin-bottom: 15px;
  font-family: "Regular";
  color: #263555;
  font-size: 15px;
}

.text {
  font-family: "Regular";
  color: #4e5050;
  font-size: 16px;
}

.small {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  margin-left: 30px;
}


.small-list {
  margin-bottom: 50px;
  font-family: "Pathway Gothic One";
  color: #263555;
  font-size: 32px;
}

.principles {
  margin-bottom: 16px;
  font-family: "Regular";
  color: #263555;
  font-size: 16px;
}

.article {
  margin-bottom: 25px;
  font-family: "Regular";
  color: #4e5050;
  font-size: 15px;
}


.list {
  counter-reset: list;
  list-style: none;
}

.list-item::before {
  float: left;
  margin-right: 10px;
  counter-increment: list;
  content: counter(list);
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #38afe5;
  color: #ffffff;
}

.article {
  float: left;
  width: calc(100% - 40px);
}

hr {
  width: 900px;
  margin: 0 0 50px;
  color: #dedbdb;
  margin-top: 20px;
}

.offers-block {
  display: inline-block;
  width: 640px;
  margin-right: 30px;
}

.offer-article {
  margin-bottom: 60px;
  font-family: "Pathway Gothic One";
  color: #263555;
  font-size: 32px;
}

.offer-title {
  margin-bottom: 30px;
  font-family: "Regular";
  color: #263555;
  font-size: 15px;
}

.offer-text {
  margin-bottom: 35px;
  font-family: "Regular";
  color: #4e5050;
  font-size: 13px;
}

.block {
  display: inline-block;
  columns: 2;
}

li {
  list-style: none;
  margin-bottom: 25px;
  font-family: "Regular";
  color: #263555;
  font-size: 15px;
}

li:nth-last-child(5) {
  margin-bottom: 0;
}

.block-list:before {
  content: "→";
  margin-right: 14px;
  color: #38afe5;
}

.testimonal {
  margin-left: 10px;
  width: 220px;
  display: inline-block;
  vertical-align: top;
}

.testimonal-title {
  margin-bottom: 30px;
  font-family: "Pathway Gothic One";
  color: #263555;
  font-size: 32px;
}

.testimonal-text::before {
  content: "”";
  margin-right: 5px;
  color: #263555;

}

.testimonal-text::after {
  content: "”";
  margin-left: 5px;
  color: #263555;
}

.testimonal-text {
  padding: 20px;
  font-family: "Regular";
  color: #263555;
  font-size: 15px;
  box-shadow: 0 0 2px 2px rgba(252, 250, 250, 1);
  background-color: #fcfafa;
}

.name {
  margin: 80px 0 20px;
  font-family: "Regular";
  text-align: center;
  color: #263555;
  font-size: 16px;
}

.director {
  margin: 10px;
  text-align: center;
  font-family: "Regular";  
  color: #4e5050;
  font-size: 13px;
}
