.map {
  display: flex;
  background-color: #fff;
  padding: 6rem 3rem 8rem 3rem;
}

h2 {
  font-size: 2rem;
  color: #263555;
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.place {
  display: flex;
}

iframe {
  border: 0;
}

.main-contacts {
  font-size: 0.8rem;
  color: #666565;
  font-family: "Arial";
  line-height: 1.3;
  margin: 0 1rem;
}

.road {
  margin-top: 5rem;
}

.phone-contacts {
  columns: 2;
  margin-top: 1rem;
}

ul {
  list-style: none;
}

span {
  color: #fa7e7e;
}

.second-phone-contacts {
  margin-top: 3rem;
}

.name-form, .mail-form, .subject-form {
  box-sizing: border-box;
  display: block;
  width: 13.5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  height: 2rem;
  resize: none;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  padding-left: 0.6rem;
  color: #263555;
}

.textarea-form {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  display: block;
  width: 13.5rem;
  height: 14.5rem;
  resize: none;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  padding-left: 0.625rem;
  padding-top: 1rem;
  color: #263555;
  font-size: 0.8rem;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.clear, .send {
  width: 5rem;
  height: 2rem;
  border-radius: 0.25rem;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  border: 0.1rem solid #b6afb0;
}