* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-image: url(../img/logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.wrapper {
  width: 480px;
  margin: 240px auto;
  padding: 60px 35px 45px;
  background-color: #ffffff;
}

.title {
  margin: 0 0 30px;
  font-size: 25px;
  font-family: "Pathway Gothic One";
  color: #263555;
}

.small {
  padding-right: 65px;
}

img {
  margin: 0 0 30px;
}

.paragraph {
  margin: 0 0 20px;
  font-family: "Pathway Gothic One";
  font-size: 20px;
  color: #263555;
}

.text {
  margin: 20px 0 30px;
  font-family: "Pathway Gothic One";
  font-size: 18px;
  color: #4e5050;
}

.first-paragpaph {
  margin: 50px 0 30px;
  font-family: "Pathway Gothic One";
  font-size: 25px;
  color: #263555;
}

.last-paragraph {
  margin: 55px 0 30px;
  font-family: "Pathway Gothic One";
  font-size: 25px;
  color: #263555;
}

hr {
  width: 400px;
  margin: 55px 0;
  color: #dedbdb;
}


.block, .second-block {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

li {
  margin: 16px 0;
  font-size: 20px;
  list-style: none; 
  font-family: "Pathway Gothic One";
  color: #263555;
 
}

.princeples {
  margin: 0 50px;
}